/* Gerais */

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1 0 auto;
}

/* Content */

.bg-crud-tel {
    font-size: 20px;
    background-color: black;
    border-color: black;
    color: white;
}

.btn-edit,
.btn-delete {
    margin: 0px 5px;
}
.btn-edit:hover,
.btn-delete:hover {
    color: inherit;
}
.btn-edit {
    color: darkgreen;
}

.btn-delete {
    color: #B80003;
}

.page-item.active .page-link {
    background-color: black;
    border-color: black;
}

.page-link {
    color: black;
}

.page-link:hover {
    color: black;
}

.btn-tel {
    background-color: black;
    border-color: black;
    color: white;
}

.btn-link {
    font-weight: 400;
    text-decoration: none;
}

.btn-tel:hover {
    background-color: rgb(31, 31, 31);
    color: white;
    border-color: rgb(31, 31, 31);
}

.text-tel:hover {
    color: rgb(31, 31, 31);
}

.text-tel {
    color: black;
}

.btn-link:hover {
    text-decoration: none;
}

.btn-link-under:hover {
    text-decoration: underline;
}

.footer {
    flex-shrink: 0;
    padding: 20px;
    color: rgb(133, 133, 133);
    box-shadow: 0px -1px 5px 0px #CCC;
    text-align: center;
}
